{
	"root": true,

	"extends": "@ljharb/eslint-config/node/20",

	"rules": {
		"complexity": "off",
		"func-style": "off",
		"sort-keys": "off",
		"max-len": "off",
		"max-lines-per-function": "off",
		"max-statements-per-line": ["error", { "max": 2 }],
		"multiline-comment-style": "off",
	},
}
