{
	"root": true,

	"extends": "@ljharb/eslint-config/node/24",

	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2022,
	},

	"rules": {
		"complexity": "off",
		"func-style": "off",
		"sort-keys": "off",
		"max-len": "off",
		"max-lines-per-function": "off",
		"max-statements-per-line": ["error", { "max": 2 }],
		"multiline-comment-style": "off",
	},

	"overrides": [
		{
			"files": ["**/*.js"],
			"parserOptions": {
				"sourceType": "script",
			},
		},
	],
}
